Screen {
    color: white;
}

#intro {
    width: 100%;
    height: auto;
    content-align: center middle;
    color: red;
    text-style: bold;
    margin-top: 10;
}

#hint {
    width: 100%;
    content-align: center middle;
    margin-top: 2;
    color: gray;
}